#form{
    font-family: "Inter";
    display: flex;
    background-color: #FFFFFF;
    width: 400px;
    height: 900px;
}
#LASTnames{
    padding-left: 20px;
}
#TEXT{
    font-size: 20px;
    font-weight: bold;
}
#FIRSTNAME{
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
}
#LASTNAME{
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
}
#EMAIL{
    font-size: 15px;
    font-weight: bold;
    padding: 20px;
    padding-bottom: 10px;
}
#nameBoxes{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
#emailTextBox{
    height: 25px;
    width: 340px;
}
#firstNameBox{
    display: flex;
    height: 20px;
    width: 150px;
}
#lastNameBox{
    display: flex;
    height: 20px;
    width: 150px;
}
#messageTextBox{
    height: 25px;
    width: 340px;
}
#MESSAGE{
    font-size: 15px;
    font-weight: bold;
    padding: 20px;
}
#message{
    padding-bottom: 10px;
}
#details{
    padding-bottom: 10px;
}
#detailsTextBox{
    width: 340px;
    height: 100px;
}
#DETAILS{
    font-size: 15px;
    font-weight: bold;
    padding: 20px;
}
#sendBtn{
    border-width: 0px;
    color: #FFFFFF;
    background-color: #555efb;
    border-radius: 5px;
    width: 356px;
    font-size: 15px;
    font-weight: bold;
    padding: 20px;
}
#btnContainer{
    padding: 20px;
}
#confirmText{
    padding-top: 4px;
    font-size: 18px;
    font-weight: bold;
}
#confirmContainer{
    display: flex;
    padding: 20px;
}
#check{
    width: 30px;
}
hr.solid {
    border-top: 0px solid #bbb;
    width: 340px;
}
#contactContainer{
    display: flex;
    font-size: 18px;
    padding-left: 20px;
    padding-bottom: 10px;
}
#contactText{
    padding-top: 4px;
}
#CI{
    padding-bottom: 10px;
    padding-left: 20px;
    font-size: 30px;
}
#email{
    padding-bottom: 10px;
}